<%- include("./header.ejs") %>

    <!-- Container Start -->
    <div class="container-fluid a b">
        <video autoplay loop muted playsinline>
            <source src="/Images/Campus.mp4" type="video/mp4">
        </video>
    </div><!--container end-->

    <br>
    <!-- about us start -->
    <div class="container b">
        <h1 class="text-center mt-5" style="font-weight: 400; font-size: 4pc;">About Us</h1>
        <div class="row featurette mt-5">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1"><span class="text-body-secondary">HK
                        University</span></h2>
                <p class="lead">The University of HK is a public research university in Pok Fu Lam, HK
                    Island, HK. Founded in 1887 as the HK College of Medicine for HK, it is the
                    oldest tertiary institution in HK.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="/Images/univ_banner3.jpg" width="500" height="500">

            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Vision <span class="text-body-secondary"></span></h2>
                <p class="lead">The University of HK, Asia’s Global University, delivers impact through
                    internationalisation, innovation and interdisciplinarity. It attracts and nurtures global scholars
                    through excellence in research, teaching and learning, and knowledge exchange. It makes a positive
                    social contribution through global presence, regional significance and engagement with the rest of
                    HK.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="/Images/professor.jpg" alt="">

            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette mt-5">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Mission <span class="text-body-secondary"></span></h2>
                <p class="lead">The University
                    of HK will endeavour: To advance constantly the bounds of scholarship, building upon its
                    proud traditions and
                    strengths
                    To provide a comprehensive education, benchmarked against the highest international standards,
                    designed to develop fully the intellectual and personal strengths of its students, while extending
                    lifelong learning opportunities for the community
                    To produce graduates of distinction committed to academic/professional excellence, critical
                    intellectual inquiry and lifelong learning, who are communicative and innovative, ethically and
                    culturally aware, and capable of tackling the unfamiliar with confidence
                    To develop a collegial, flexible, pluralistic and supportive intellectual environment that inspires
                    and attracts, retains and nurtures scholars, students and staff of the highest calibre in a culture
                    that fosters creativity, learning and freedom of thought, enquiry and expression
                    To provide a safe, healthy and sustainable workplace to support and advance teaching, learning and
                    research at the University
                    To engage in innovative, high-impact and leading-edge research within and across disciplines
                    To be fully accountable for the effective management of public and private resources bestowed upon
                    the institution and act in partnership with the community over the generation, dissemination and
                    application of knowledge
                    To serve as a focal point of intellectual and academic endeavour in HK, China and Asia and
                    act as a gateway and forum for scholarship with the rest of the world</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="/Images/Univ_student.jpg" width="500" height="500">

            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Innovation <span class="text-body-secondary"></span></h2>
                <p class="lead">The University of HK, founded in 1911, is the oldest tertiary institution in Hong
                    Kong. It was granted a shield and a motto by the College of Arms in 1913, and throughout its history
                    the University's visual identity has been firmly based on their display, often coupled the
                    University's name. This is a distinction that resonates outside HK, particularly in the
                    United Kingdom, other Commonwealth jurisdictions, and the United States. It is also a reminder of
                    the University's antiquity, and a most dignified and effective corporate identity.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="/Images/chemistrylab.jpg" alt="">

            </div>
        </div>
        <hr class="featurette-divider">
    </div>

    <%- include("./footer.ejs") %>